In [19]:
import pandas as pd
import numpy as np
import plotly.express as px
import time
import datetime
import nbformat

In [2]:
#Load data
trips_df = pd.read_csv('https://sds-aau.github.io/SDS-master/M1/data/trips.csv', index_col=0)
people_df = pd.read_csv('https://sds-aau.github.io/SDS-master/M1/data/people.csv', index_col = 0)
country_df = pd.read_csv('https://sds-aau.github.io/SDS-master/M1/data/countrylist.csv', index_col = 0)

In [3]:
## check rows in col that are na
#trips_df[trips_df['date_end'].isna()]
## example of rows to see if they changed
#trips_df.loc[[638,640]]
trips_df

,username,country,country_code,country_slug,date_end,date_start,latitude,longitude,place,place_slug
0,@lewellenmichael,Mexico,MX,mexico,2018-06-15,2018-06-04,21,-101,Guanajuato,mexico
1,@lewellenmichael,Mexico,MX,mexico,2018-06-03,2018-05-31,19,-99,Mexico City,mexico-city-mexico
2,@lewellenmichael,Mexico,MX,mexico,2017-11-05,2017-11-01,21,-86,Cancun,cancun-mexico
3,@lewellenmichael,Jordan,JO,jordan,2017-08-07,2017-07-24,31,35,Amman,amman-jordan
4,@waylandchin,China,CN,china,2017-03-18,2017-02-17,40,122,Yingkou,china
...,...,...,...,...,...,...,...,...,...,...
46505,@antonioc,Cuba,CU,cuba,2016-05-25,2016-05-19,21,-77,Cuba,cuba
46506,@antonioc,Costa Rica,CR,costa-rica,2016-05-18,2016-04-28,9,-83,Costa Rica,costa-rica
46507,@antonioc,United States,US,united-states,2016-04-26,2016-04-04,39,-75,Philadelphia,philadelphia-pa-united-states
46508,@jrearden,United States,US,united-states,2018-05-19,2018-05-12,30,-86,Destin,united-states
46509,@kschroeder,Argentina,AR,argentina,2018-02-08,2018-01-12,-38,-57,Mar del Plata,mar-del-plata-argentina

In [4]:
# when checking type of column ==> type object - bc numerous value types
trips_df['date_end'].dtype
# if checking which columns contain nan value shows date_end has nan
trips_df.isna().any()

username        False
country          True
country_code     True
country_slug     True
date_end         True
date_start      False
latitude        False
longitude       False
place           False
place_slug       True
dtype: bool

In [5]:
#change cols to datetime format and coerce so NaT is added for na values
date_cols = [col for col in trips_df.columns if col.startswith('date')]
for col in date_cols:
    trips_df[col]= pd.to_datetime(trips_df[col],format='%Y-%m-%d', errors='coerce')

In [6]:
#check type of data after casting
trips_df['date_start'].dtype

dtype('<M8[ns]')

In [7]:
#get trip duration 
trips_df['trip_duration'] = (trips_df['date_end'] - trips_df['date_start']).dt.days

In [8]:
trips_df = trips_df[trips_df['trip_duration'] >1]

In [12]:
trips_df['trip_duration'].describe()
# bc mean is sensitive to ouliers and max is74633, while mean is so small (58) ==> outliers

count    40684.000000
mean        58.225740
std        692.162081
min          2.000000
25%          4.000000
50%          8.000000
75%         28.000000
max      74633.000000
Name: trip_duration, dtype: float64

In [20]:
fig_hst = px.histogram(trips_df, x='trip_duration')

fig_hst.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed